@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import 'tailwindcss';

.text-amir {
	font-family: 'Cormorant Garamond', serif;
	font-optical-sizing: auto;
	font-weight: 1000;
	font-style: italic;
}
