@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

body {
	background: #fef2e3;
}

.bricolage-grotesque {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

@theme {
	--color-mainDark: #383837;
	--color-mainLight: #d1cfc0;
}
